name: CI Pipeline

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/reusable-install.yml
    strategy:
      matrix:
        node-version: [18.x, 20.x]
      fail-fast: false
    with:
      node-version: ${{ matrix.node-version }}

  lint:
    uses: ./.github/workflows/reusable-install.yml
    with:
      node-version: 18
